.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0;
  flex: auto;

  &::after {
    content: "";
    display: block;
    height: 128px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
