.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0;
  flex: auto;

  .logoWrapper {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .logo {
      max-height: 160px;
    }
  }

  &::after {
    content: "";
    display: block;
    height: 128px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
