name: Changesets Tag

on:
  push:
    branches:
      - master

permissions:
  contents: write

env:
  NODE_VERSION: 24
  PNPM_VERSION: 10.28.2

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Configure git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Tag release
        run: pnpm run pkg:tag

      - name: Push tags
        run: git push origin --tags
